/*
ScraperStrap.css
A tidy little Bootstrap theme.
Built for scraperwiki.com by Chris, David and Zarino.
*/

/* Larger default font-size */

body {
  font-size: 16px;
  line-height: 24px;
}

li, dd, dt, blockquote small,
.dropdown-menu > li > a,
address, .table th, .table td {
  line-height: 24px;
}
